<div class="container">
    <div class="row">
        <div class="col-md-9">
              <h1>PROFİL SAYFASI</h1>
              <ul class="list-group list-inline">
                  <li class="list-group-item"><%= user.email%></li>
                  <li class="list-group-item"><%= user.username%></li>
                  <li class="list-group-item"><%= user.password%></li>
              </ul>
              
             
              
        </div>
        
        <div class="col-md-3">
            sağ colon
        </div>
        
    
    </div>
</div>